.authNavContainer {
  font-size: 22px;
  font-weight: 500;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  background-image: linear-gradient(to right, #007aff, #0cebeb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.link:hover {
  color: #ff5733;
  background-color: #007aff;
  /* box-shadow: 0 0 20px rgba(0, 122, 255, 0.4); */
  transform: translateY(-2px);
}
