.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 30px;
}

.formLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  gap: 20px;
}

.formLabel:hover,
.formLabel:focus {
  background-color: #f1f1f1;
}

.formInput {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.addContactBtn {
  background-color: #ff3b30;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.addContactBtn:hover,
.addContactBtn:focus {
  background-color: #d52d1f;
  transform: scale(1.05);
}
